/*DESKTOP VERSION*/
body{
  margin: 0 auto;
  padding : 0;
  font-family: sans-serif;
}
h1, h2, h3, h4{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0vh;
}
nav {
  display: block;
  position: fixed;
  margin: auto;
  padding-top: 3vh;
  float: left;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 5px 0px 5px rgba(10,10,10,0.5);
  z-index: 3;
}
nav .navcontent{
  display: block;
  margin: auto;
  width: 260px;
}
.navcontent .img{
  display: block;
  margin:auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: grey;
  background-image: url(./img/profile.jpg);
  background-size: cover;
}
nav h1{
  margin-top: 5vh;
}
ul{
  list-style: none;
}
nav ul{
  margin-top: 5vh;
}
nav ul a li{
  color: #111;
}
nav p{
  margin-top: 0px;
}
a{
  text-decoration: none;
}
.picto{
  display: none;
  margin-top: 0vh;
}
.button li{
  color: #fff;
}
.buttons{
  display: block;
  margin-left: -60px;
  width: 300px;
}
.button{
  display: block;
  cursor: pointer;
  padding-top: 15px;
  background-color: #222;
  color: #fff;
  height:35px;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
.button:hover{
  background-color: #7A072F;
}
.highlighted{
  background-color: #7A072F;
}
.linksnav{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 250px;
  width: 95%;
  text-align: center;
}
.linksnav a, .linksnav i{
  margin-right: 5px;
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
.linksnav i:hover{
  color: #7A072F;
}
main {
  float: right;
  margin-left: 300px;
  background-color: #222222;
  color: #fff;
}
.bgi{
  background-image: url(./img/illus/mercy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode:  soft-light;
  height: inherit;
}
.bgi2{
  background-image: url(./img/illus/arcade.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode:  soft-light;
  height: inherit;
}
#home{
  display: block;
  margin: auto;
  padding:3vh;
  margin-bottom: 3vh;
  height: inherit;
  background-color: #222;
}
#home .content p{
  display: block;
  margin: auto;
  width: 50%;
}
#illu{
  display: block;
  margin: auto;
  padding:3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: inherit;
}
#anim{
  display: block;
  margin: auto;
  padding:3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: inherit;
  background-color: #222;
}
#code{
  display: block;
  margin: auto;
  padding:3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: inherit;
}
#illu .content .images,#anim .content .images,#code .content .images{
  background-color: rgba(20,20,20,0.5);
  height: inherit;
  width: 98%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  height: inherit;
  margin: 3.5vh;
}
.images .flex .vignette{
  height: 360px;
  width: 317px;
  background-color: #fff;
  margin: 1vh;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(10,10,10,0.5);
  overflow: hidden;
}
.zoom{
  display: block;
  position: absolute;
  background-color: rgba(122,7,47,0);
  color: rgba(256,256,256,0);
  height: 150px;
  width: inherit;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
  padding-top: 100px;
  cursor: pointer;
}
.zoom:hover{
  background-color: rgba(122,7,47,0.5);
  color: rgba(256,256,256,1);
}
.mini{
  height: 70%;
  background-color: #190A3B;
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
}
.mini img{
  display: block;
  margin: auto;
  height: 100%;
}
.desc{
  display: block;
  height: 30%;
  margin: 1vh;
}
.desc h4, .desc p{
  color: #222;
}
#contact{
  display: block;
  margin: auto;
  padding:3vh;
  margin-top: 3vh;
  height: inherit;
  background-color: #222;
}
.content{
  z-index: 1;
  margin-left: 3vh;
}
#contact .content{
  display: block;
  margin: auto;
  width: 25%;
  text-align: center;
}
#contact .links{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 5vh;
}
#contact .links i{
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
}
#contact .links i:hover{
color: #7A072F;
}

/*MODAL*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    padding-top: 0.5vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.H_box{
  display: block;
  margin: 0 auto;
  margin-top: 2.5vh;
  padding-top: 0.5vh;
  width: 1200px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(10,10,10,0.5)
}
.H_box .H_boxcontent{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 95%;
}
.H_pics{
  display: block;
  margin: auto;
  width: 100%;
  background-color: grey;
}
.H_pics img{
  width: 100%
}
.exit_button{
  position: absolute;
  float: right;
  margin:10px;
  background-color: #222;
  color:#fff;
  text-align: center;
  padding-top: 3px;
  height: 37px;
  width: 40px;
  border-radius: 6px;
  cursor: pointer;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
.H_desc {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #222;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, .H_desc {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/*MODAL ON SMARTPHONE*/
@media only screen and (max-width: 700px){
    .H_boxcontent {
        width: 100%;
    }
}

/*LOW HEIGHT SCREEN*/
@media only screen and (max-height: 800px){
  nav {
    width: 100px;
  }
  nav .navcontent{
    width: 80px;
  }
  .navcontent .img{
    width: 80px;
    height: 80px;
  }
  nav h1{
    display: none;
  }
  .button{
    margin-left: -0px;
    width: 110px;
  }
  main {
    margin-left: 100px;
  }
  .linksnav{
    flex-direction: column;
    margin-top: 0px;
    width: 95%;
  }
  .button li p{
    display: none;
  }
  .picto{
    display: block;
    margin-top: -1vh;
  }
}
/*SMARTPHONE USAGE*/
@media only screen and (max-width: 700px){
  nav {
    padding-top: 3vh;
    width: 100%;
    height: 34px;
  }
  nav .navcontent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
  }
  .navcontent .img{
    margin-right: 0vh;
    margin-top: -2vh;
    margin-left: 2vh;
    width: 45px;
    height: 45px;
  }
  nav h1{
    display: none;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    margin-top: -3vh;
  }
  .buttons {
    margin-left: 0px;
    padding-top: 0px;
    width: 80%;
    height:45px;
  }
  .button{
    width: 80px;
    height: 50px;
  }
  .button li p{
    display: none;
  }
  .picto{
    display: block;
    margin: 0 auto;
  }
  .linksnav{
    display: none;
  }
  main {
    margin-left: 0px;
  }
  #home{
    display: block;
    margin: auto;
    padding:3vh;
    padding-top: 15vh;
    margin-bottom: 3vh;
    height: inherit;
    background-color: #333333;
  }
  #home .content p{
    display: block;
    margin: auto;
    width: 100%;
  }
  #illu,#anim,#code{
    display: block;
    margin: auto;
    padding: 0;
    padding-left: 1.5vh;
    margin-top: 0vh;
    margin-bottom: 3vh;
    height: inherit;
  }
  #illu h2,#anim h2,#code h2{
    margin-top: 5vh;
  }
  .content{
    margin-left: 0vh;
  }
  #contact .content{
    width: 55%;
  }
  #contact .links{
    margin-left: 0vh;
  }
  .flex{
    width: auto;
  }
}
